@import "../variables";

// Some CSS magic to target only IE.
_:-ms-input-placeholder,
:root .mdl-slider.mdl-slider.is-upgraded {
  appearance: none;
  // The thumb can't overflow the track or the rest of the control in IE, so we
  // need to make it tall enough to contain the largest version of the thumb.
  height: 32px;
  margin: 0;
  }

// Slider component (styled input[type=range]).
.mdl-slider {
  margin: 0 20px;
  width: calc(100% - 40px);

  &.is-upgraded {
    align-self: center;
    appearance: none;
    background: transparent;
    color: $range-color;
    cursor: pointer;
    height: 2px;
    outline: 0;
    padding: 0;
    user-select: none;
    z-index: 1;

    // Disable default focus on Firefox.
    &::-moz-focus-outer {
      border: 0;
      }

    // Disable tooltip on IE.
    &::-ms-tooltip {
      display: none;
      }

    //*************************** Tracks ***************************
    &::-webkit-slider-runnable-track {
      background: transparent;
      }

    &::-moz-range-track {
      background: transparent;
      border: 0;
      }

    &::-ms-track {
      background: none;
      border: 0;
      color: transparent;
      height: 2px;
      width: 100%;
      }

    &::-ms-fill-lower {
      background: linear-gradient(to right,
        transparent,
        transparent 16px,
        $range-color 16px,
        $range-color 0);
      // Margin on -ms-track doesn't work right, so we use gradients on the
      // fills.
      padding: 0;
      }

    &::-ms-fill-upper {
      background: linear-gradient(to left,
        transparent,
        transparent 16px,
        $range-bg-color 16px,
        $range-bg-color 0);
      // Margin on -ms-track doesn't work right, so we use gradients on the
      // fills.
      padding: 0;
      }

    //*************************** Thumbs ***************************
    &::-webkit-slider-thumb {
      appearance: none;
      background: $range-color;
      border: 0;
      border-radius: 50%;
      box-sizing: border-box;
      height: 12px;
      transition: transform .18s $animation-curve-default,
      border .18s $animation-curve-default,
      box-shadow .18s $animation-curve-default,
      background .28s $animation-curve-default;
      width: 12px;
      }

    &::-moz-range-thumb {
      appearance: none;
      background-color: $range-color;
      background-image: none;
      border: 0;
      border-radius: 50%;
      box-sizing: border-box;
      height: 12px;
      width: 12px;
      // -moz-range-thumb doesn't currently support transitions.
      }

    &:focus:not(:active)::-webkit-slider-thumb {
      box-shadow: 0 0 0 10px $range-faded-color;
      }

    &:focus:not(:active)::-moz-range-thumb {
      box-shadow: 0 0 0 10px $range-faded-color;
      }

    &:active::-webkit-slider-thumb {
      background-image: none;
      background: $range-color;
      transform: scale(1.5);
      }

    &:active::-moz-range-thumb {
      background-image: none;
      background: $range-color;
      transform: scale(1.5);
      }

    &::-ms-thumb {
      background: $range-color;
      border: 0;
      border-radius: 50%;
      height: 32px;
      transform: scale(.375);
      transition: transform .18s $animation-curve-default,
      background .28s $animation-curve-default;
      // -ms-thumb doesn't currently support transitions, but leaving this here
      // in case support ever gets added.
      width: 32px;
      }

    &:focus:not(:active)::-ms-thumb {
      background: radial-gradient(circle closest-side,
        $range-color 0%,
        $range-color 37.5%,
        $range-faded-color 37.5%,
        $range-faded-color 100%);
      transform: scale(1);
      }

    &:active::-ms-thumb {
      background: $range-color;
      transform: scale(.5625);
      }

    //*************************** 0-value ***************************
    &.is-lowest-value::-webkit-slider-thumb {
      background: transparent;
      border: 2px solid $range-bg-color;
      }

    &.is-lowest-value::-moz-range-thumb {
      background: transparent;
      border: 2px solid $range-bg-color;
      }

    &.is-lowest-value + .mdl-slider__background-flex > .mdl-slider__background-upper {
      left: 6px;
      }

    &.is-lowest-value:focus:not(:active)::-webkit-slider-thumb {
      background: $range-bg-focus-color;
      box-shadow: 0 0 0 10px $range-bg-focus-color;
      }

    &.is-lowest-value:focus:not(:active)::-moz-range-thumb {
      background: $range-bg-focus-color;
      box-shadow: 0 0 0 10px $range-bg-focus-color;
      }

    &.is-lowest-value:active::-webkit-slider-thumb {
      border: 1.6px solid $range-bg-color;
      transform: scale(1.5);
      }

    &.is-lowest-value:active + .mdl-slider__background-flex > .mdl-slider__background-upper {
      left: 9px;
      }

    &.is-lowest-value:active::-moz-range-thumb {
      border: 1.5px solid $range-bg-color;
      transform: scale(1.5);
      }

    &.is-lowest-value::-ms-thumb {
      background: radial-gradient(circle closest-side,
        transparent 0%,
        transparent 66.67%,
        $range-bg-color 66.67%,
        $range-bg-color 100%);
      }

    &.is-lowest-value:focus:not(:active)::-ms-thumb {
      background: radial-gradient(circle closest-side,
        $range-bg-focus-color 0%,
        $range-bg-focus-color 25%,
        $range-bg-color 25%,
        $range-bg-color 37.5%,
        $range-bg-focus-color 37.5%,
        $range-bg-focus-color 100%);
      transform: scale(1);
      }

    &.is-lowest-value:active::-ms-thumb {
      background: radial-gradient(circle closest-side,
        transparent 0%,
        transparent 77.78%,
        $range-bg-color 77.78%,
        $range-bg-color 100%);
      transform: scale(.5625);
      }

    &.is-lowest-value::-ms-fill-lower {
      background: transparent;
      }

    &.is-lowest-value::-ms-fill-upper {
      margin-left: 6px;
      }

    &.is-lowest-value:active::-ms-fill-upper {
      margin-left: 9px;
      }

    //*************************** Disabled ***************************

    &:disabled:focus::-webkit-slider-thumb,
    &:disabled:active::-webkit-slider-thumb,
    &:disabled::-webkit-slider-thumb {
      background: $range-bg-color;
      transform: scale(.667);
      }

    &:disabled:focus::-moz-range-thumb,
    &:disabled:active::-moz-range-thumb,
    &:disabled::-moz-range-thumb {
      background: $range-bg-color;
      transform: scale(.667);
      }

    &:disabled + .mdl-slider__background-flex > .mdl-slider__background-lower {
      background-color: $range-bg-color;
      left: -6px;
      }

    &:disabled + .mdl-slider__background-flex > .mdl-slider__background-upper {
      left: 6px;
      }

    &.is-lowest-value:disabled:focus::-webkit-slider-thumb,
    &.is-lowest-value:disabled:active::-webkit-slider-thumb,
    &.is-lowest-value:disabled::-webkit-slider-thumb {
      background: transparent;
      border: 3px solid $range-bg-color;
      transform: scale(.667);
      }

    &.is-lowest-value:disabled:focus::-moz-range-thumb,
    &.is-lowest-value:disabled:active::-moz-range-thumb,
    &.is-lowest-value:disabled::-moz-range-thumb {
      background: transparent;
      border: 3px solid $range-bg-color;
      transform: scale(.667);
      }

    &.is-lowest-value:disabled:active + .mdl-slider__background-flex > .mdl-slider__background-upper {
      left: 6px;
      }

    &:disabled:focus::-ms-thumb,
    &:disabled:active::-ms-thumb,
    &:disabled::-ms-thumb {
      background: $range-bg-color;
      transform: scale(.25);
      }

    &.is-lowest-value:disabled:focus::-ms-thumb,
    &.is-lowest-value:disabled:active::-ms-thumb,
    &.is-lowest-value:disabled::-ms-thumb {
      background: radial-gradient(circle closest-side,
        transparent 0%,
        transparent 50%,
        $range-bg-color 50%,
        $range-bg-color 100%);
      transform: scale(.25);
      }

    &:disabled::-ms-fill-lower {
      background: linear-gradient(to right,
        transparent,
        transparent 25px,
        $range-bg-color 25px,
        $range-bg-color 0);
      margin-right: 6px;
      }

    &:disabled::-ms-fill-upper {
      margin-left: 6px;
      }

    &.is-lowest-value:disabled:active::-ms-fill-upper {
      margin-left: 6px;
      }
    }
  }

// Since we need to specify a height of 32px in IE, we add a class here for a
// container that brings it back to a reasonable height.
.mdl-slider__ie-container {
  border: 0;
  height: 18px;
  margin: 0;
  overflow: visible;
  padding: 0;
  }

// We use a set of divs behind the track to style it in all non-IE browsers.
// This one contains both the background and the slider.
.mdl-slider__container {
  background: none;
  display: flex;
  flex-direction: row;
  height: 18px;
  position: relative;
  }

// This one sets up a flex box for the styled upper and lower portions of the
// the slider track.
.mdl-slider__background-flex {
  background: transparent;
  border: 0;
  display: flex;
  height: 2px;
  left: 0;
  margin: 0 26px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -1px);
  width: calc(100% - 52px);
  }

// This one styles the lower part of the slider track.
.mdl-slider__background-lower {
  background: $range-color;
  border: 0;
  flex: 0;
  padding: 0;
  position: relative;
  }

// This one styles the upper part of the slider track.
.mdl-slider__background-upper {
  background: $range-bg-color;
  border: 0;
  flex: 0;
  padding: 0;
  position: relative;
  transition: left .18s $animation-curve-default;
  }
